<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1IbPKTZjCR-y3FWc9zjigKHkSyAJSJ6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>837334499630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventNowPublic</string>
	<key>PROJECT_ID</key>
	<string>event-now-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>event-now-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837334499630:ios:d1c7044b7dc92bca1ffabf</string>
</dict>
</plist>